:global(#leafy #rightArm) {
  transform-box: fill-box;
  transform-origin: 50% 0%;
  animation: shrugRight 2s ease-in-out forwards;
}

:global(#leafy #leftArm) {
  transform-box: fill-box;
  transform-origin: 50% 0%;
  animation: shrugLeft 2s ease-in-out forwards;
}

@keyframes shrugRight {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  20% {
    transform: rotate(-50deg) translateY(-10px);
  }
  80% {
    transform: rotate(-50deg) translateY(-10px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

@keyframes shrugLeft {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  20% {
    transform: rotate(50deg) translateY(-10px);
  }
  80% {
    transform: rotate(50deg) translateY(-10px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
