.navbar {
  width: 100%;
  background: #fff;
}

.navbarFull {
  display: flex;
  width: 90vw;
  max-width: 160em;
  height: 4em;
  margin: 0 auto;
}

.navbarFull .logo {
  height: 100%;
}

.navbarFull ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.navbarFull ul li {
  padding: 1em;
  height: 100%;
  align-content: center;
  text-transform: uppercase;
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
}

.navbarFull ul li.active {
  border-bottom: 2px solid var(--peppermint-green);
  font-weight: 600;
}
